@media (max-width: 1440px) {
  .header {
    background-color: #6EA2A3;
    width: 100%;
    display: flex;
    max-height: 156px;
    height: 156px;
  }
  .header_bg {
    background: url("../../assets/images/bg-header-desktop.svg");
    height: 156px;
    width: 100%;
    background-repeat: repeat-x;
  }
}

@media (max-width: 375px) {
  .header {
    background-color: #6EA2A3;
    width: 100%;
    display: flex;
    max-height: 156px;
    height: 156px;
  }
  .header_bg {
    background: url("../../assets/images/bg-header-mobile.svg");
    height: 156px;
    width: 100%;
    background-repeat: repeat-x;
  }
}

